<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.css" />
  <title>Log In</title>
</head>
<body>
  <div class="containers">
    <!-- Navbar -->
    <div class="navbar">
      <img src="images/logo2.png" alt="Top Spotify Logo" class="logo" />

      <nav>
        <!-- If you ever want a slogan, uncomment this:
        <div class="tagline">WELCOME TO YOUR TOP SPOTIFY</div>
        -->
        <a
          href="https://www.linkedin.com/in/nate-ferry-6a0818a193/"
          target="_blank"
          class="btn"
        >
          <strong>Contact Us</strong>
        </a>
      </nav>
    </div>

    <!-- Login section -->
    <div class="login-contain">
      <div class="welcome">
        <h1>Welcome</h1>
        <p>
          Login to Spotify and see your Top 10 artists and songs of all time!
        </p>
      </div>

      <div class="button-log">
        <button class="login-btn" onclick="authorize()">
          Login to Spotify
        </button>
      </div>
    </div>
  </div>

  <script src="js/java.js"></script>
</body>
</html>
